

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="p-card">
          <img src="https://miro.medium.com/v2/resize:fit:1000/1*Xkxxps5QCy-sHzcAX8vSdA.png" alt="Angular Bootstrap Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-card">
        <h2>Welcome to Angular Bootstrap</h2>
        <p>This is a simple Angular application using Bootstrap for styling.</p>
        <p>Congratulations! Your app is running. 🎉</p>
        <button class="btn btn-primary">Click Me</button>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet />
